* {
  box-sizing: border-box;
}

html, body, #root, main {
  height: 100%;
}

body {
  margin: 0;
  background: #F5F7FB;
  font-family: Karla, sans-serif;
  color: #293264;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/yellow-blob.svg), url(./assets/blue-blob.svg);
  background-position: left bottom, right top;
  background-repeat: no-repeat;
}

button, input[type="radio"] + label {
  font-family: Inter, sans-serif;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

button:active, input[type="radio"] + label:active {
  transform: translate(1px, 1px);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* #region start screen */

.start {
  max-width: 250px;
  text-align: center;
}

.start--title {
  font-size: 2rem;
  margin: 0 0 4px;
}

.start--description {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 29px;
}

.start--button {
  background: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 200px;
}

/* #endregion start screen */

/* #region quiz */

.quiz {
  max-width: 500px;
}

.quiz--actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.quiz--button {
  background: #4D5B9E;
  color: #F5F7FB;
  border-radius: 10px;
  padding: 12px 25px;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
}

/* #endregion quiz */

/* #region question */

.question {
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #DBDEF0;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.answer {
  margin: 5px;
}

.answer input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

.answer label {
  display: block;
  padding: 5px 20px;
  color: #293264;
  background: white;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  -webkit-user-select: none;    /* Safari */
  -webkit-touch-callout: none;  /* iOS Safari */
  -khtml-user-select: none;     /* Konqueror HTML */
  -ms-user-select: none;        /* Internet Explorer/Edge */
  -moz-user-select: none;       /* Old versions of Firefox */
   user-select: none;           /* Non-prefixed version*/
}

.answer input:checked + label {
  background: #D6DBF5;
  border: 1px solid #D6DBF5;
}

/* #endregion question */
